*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  outline: 0;
  appearance: 0;
  border: 0;
}

html{
  font-size: 14px;
}

body{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
}