.newUsers{
    margin-top: 1.3rem;
}

.newUsers .userList{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.newUsers .userList:hover{
    box-shadow: none;
}

.newUsers .userList .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newUsers .userList .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}