.container{
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    background: linear-gradient(95deg, #aac963 3.2%, #84b59a 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 36px;
    position: relative; /* Para posicionar a imagem em relação ao logo */
}

.root {
    position: absolute;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%) translateY(-10px); /* Começa um pouco acima */
    margin-top: 10px; /* Margem superior para afastar da logo */
    height: 75px;
    width: 75px;
    z-index: 10; /* Garante que a imagem apareça acima de outros elementos */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Transição suave */
}

/* Animação de entrada */
.logo:hover + .root {
    opacity: 1; /* Torna a imagem visível */
    transform: translateX(-50%) translateY(0); /* Vai para a posição correta */
}

/* Animação de saída */
.root.exit {
    opacity: 0; /* Torna a imagem invisível */
    transform: translateX(-50%) translateY(-10px); /* Sobe um pouco enquanto desaparece */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Transição suave */
}