*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #b1dcc3; /* #b1dcc3 verde*/
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.info-text {
    text-align: center;
}

.main{
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: #198353; /* #198353verde mais escuro*/
}

.main::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 55%;
    top: 20%;
    background-color: #aac963; /* #aac963 verde abacate*/
    filter: blur(90px);
}

.main::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80%;
    top: 44%;
    background-color: #84b59a;
    filter: blur(90px);
}