.infoText {
    text-align: center; /* Centraliza o texto */
    color: #fff; /* Cor do texto para maior legibilidade */
    font-size: 1.2rem; /* Tamanho da fonte */
    margin: 20px 0; /* Margens verticais para espaçamento */
}

.main {
    background: linear-gradient(135deg, #198353 30%, #20945a 70%);  
    position: relative; /* Necessário para os pseudo-elementos */
    overflow-x: hidden; /* Oculta o overflow horizontal */
    min-height: 100vh; /* Garante que a seção ocupe a altura total da viewport */
    display: flex; /* Usar Flexbox para alinhamento interno, se necessário */
    flex-direction: column; /* Alinhamento em coluna */
}

.main::before {
    content: "";
    position: absolute; /* Posição absoluta em relação ao .main */
    width: 120px; /* Largura do círculo */
    height: 120px; /* Altura do círculo */
    left: 55%; /* Posicionamento horizontal */
    top: 20%; /* Posicionamento vertical */
    background-color: #aac963; /* Verde abacate */
    filter: blur(90px); /* Efeito de desfoque */
    border-radius: 50%; /* Forma circular */
    z-index: 1; /* Garante que fique atrás do conteúdo */
}

.main::after {
    content: "";
    position: absolute; /* Posição absoluta em relação ao .main */
    width: 120px; /* Largura do círculo */
    height: 120px; /* Altura do círculo */
    left: 80%; /* Posicionamento horizontal */
    top: 44%; /* Posicionamento vertical */
    background-color: #84b59a; /* Verde mais claro */
    filter: blur(90px); /* Efeito de desfoque */
    border-radius: 50%; /* Forma circular */
    z-index: 1; /* Garante que fique atrás do conteúdo */
}

/* Adicionando uma sombra no fundo principal para um efeito mais moderno */
.main {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Sombra suave */
}