.navbar {
    padding: 20px 88px; /* Consolidado o padding em uma única linha */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Para fixar o menu no topo da página */
    top: 0; /* Posiciona no topo */
    width: 100%; /* Garante que a navbar ocupe toda a largura */
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
    background-color: #198353;  
}

.toggler {
    font-size: 2rem;
    color: #c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none; /* Inicialmente escondido para telas maiores */
}

.nav_btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 120px;
    height: 50px;
    color: #ccc;
    font-size: 20px;
}

.nav_btn:hover {
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Item do menu */
.item {
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
}

.item:hover {
    background: linear-gradient(95deg, #aac963 3.2%, #84b59a 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #7e22ce;
}

.item:not(:last-child) {
    margin-right: 20px; /* Margem para itens, exceto o último */
}

.nav_buttons.active {
    transition: all 0.3s ease;
    opacity: 1; /* Pode ser ajustado conforme necessário */
}

/* Estilos responsivos */
@media screen and (max-width: 925px) {
    .nav_links {
        display: none; /* Escondido em telas menores */
    }

    .nav_buttons {
        opacity: 0; /* Invisível em telas menores */
    }

    .toggler {
        display: flex !important; /* Mostra o toggler em telas menores */
        align-items: center; /* Centraliza verticalmente */
    }
}