.topContainer{
    padding: 0 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.topContainer .info_box{
    max-width: 50%;
    animation: toRight 0.8s;
}

.topContainer .header{
    margin: 0;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    line-height: 55px;
}

.topContainer .info_text{
    margin: 20px 0 32px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.topContainer .info_buttons{
    display: flex;
    justify-content: flex-end;
}

.topContainer .info_btn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -1px;
    color: #fff;
}

.nav_btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.topContainer .info_btn:hover{
    border: none;
    background: linear-gradient(95deg, #aac963 3.2%, #84b59a 99.5%);
}

.topContainer .nft_box{
    animation: toLeft 0.8s;
}

.topContainer .nft_pic{
    object-fit: cover;
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 25%;
}