.get_started {
    padding: 0 88px;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
}

.get_started .header {
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.get_started .boxes {
    display: flex;
    flex-direction: column;
}

.get_started .boxes .boxText {
    width: 50%;
    margin-top: 25px;
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Inicialmente deslocado para baixo */
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.get_started .boxes .boxText.visible {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Retorna à posição original */
}

.get_started .boxes .boxText.left {
    align-self: flex-start; /* Alinhado à esquerda */
    text-align: left; 
}

.get_started .boxes .boxText.right {
    align-self: flex-end; /* Alinhado à direita */
    text-align: right; 
}

.get_started .boxes .boxText .info_text {
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.get_started .info_text {
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}