*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body{
  background: linear-gradient(135deg, #198353 30%, #20945a 70%);  
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}