.toggleRight {
    right: 0;
    transform: translateX(0);
}

.container.active .toggleRight {
    transform: translateX(200%);
}

.togglePanel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all var(--transition-time) ease-in-out;
}